<h1>Discover new Movies</h1>

{% if message %}
    <h2>{{ message }}</h2>
{% endif %}

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<h2>Actions</h2>
<form action="{{ url_for('friendsmovies') }}" method="GET">
	<h3>Recommended movies based on what your friends like</h3>
        <input type="submit" value="Click!">
</form>

<form action="{{ url_for('genremovies') }}" method="GET">
	<h3>Recommended movies from your favourite genre</h3>
        <input type="submit" value="Click!">
</form>

<form action="{{ url_for('search') }}" method="GET">
	<h3>Search Movies by Title</h3>
        <input type="submit" value="Click!">
</form>
