<!DOCTYPE html>
<head>
	<title>MovieBud - Discover Movies</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

{% if message %}
    <h2>{{ message }}</h2>
{% endif %}

{% for message in get_flashed_messages() %}
    {{ message }}
{% endfor %}

<body>
	<div class="wrapper">
		{% if message %}
    		<h2>{{ message }}</h2>
		{% endif %}

		{% for message in get_flashed_messages() %}
   		{{ message }}
		{% endfor %}
		<div class="container">
			<h3>Suggested Movies</h3>
			<form action="{{ url_for('friendsmovies') }}" method="GET">
				<button type="submit" id="login-button">Friend Recommendations</button>
			</form>

			<form action="{{ url_for('genremovies') }}" method="GET">
				<button type="submit" id="login-button">From your Favourite Genre</button>
			</form>
			
			<form action="{{ url_for('search') }}" method="GET">
				<button type="submit" id="login-button">Search</button>
			</form>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</body>


