<style>
table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
width: 640px;
border-collapse:
collapse; border-spacing: 0;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
}
</style>

<head>
	<link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
	<div class="wrapper">
	<h1 align="center">Movies Your Friends Like</h1>
		<div class="container">
			
			<table>
				<tr>
					<th>Movie</th>
					<th>Recommended by</th>
					<th>Comment</th>
				</tr>
	
				{% for row in rec %}
			    	<tr>
			    		<td>{{ row[0] }}</td>
			    		<td>{{ row[1] }}</td>
			    		{% if row[2] %}
			    		<td>{{ row[2] }}</td>
			    		{% else %}
			    		<td>-</td>
			    		{% endif %}
			    	</tr>
				{% endfor %}
	
			</table>
		</div>
		
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
		
	</div>
</body>
