<!DOCTYPE html>
<head>
	<title>MovieBud</title>
	<link rel="stylesheet" href="../static/css/style.css">
</head>
	
<body>
        <div class="wrapper">
		<div class="container">
			<h1>Login</h1>
		
			<form class="form" action="{{ url_for('login') }}" method="POST">
				<input type="text" placeholder="Username" name="username">
				<input type="password" placeholder="Password" name="password">
				<button type="submit" id="login-button">Login</button>
				
				{% for message in get_flashed_messages() %}
        			<p>{{ message }}</p>
				{% endfor %}
			</form>
		</div>
	
		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	
	</div>
</body>



