<head>
	<h2>Register to start using MovieBud</h2>
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>



<body>
	<form action="{{ url_for('register') }}" method="POST">

	<fieldset>
		<legend>Register</legend>
		<label>Label name</label>
			<input type="text" placeholder="Enter Username" name="username">
			<input type="password" placeholder="Enter Password" name="password">
			<input type="password" placeholder="Re-Enter Password" name="password2">
		</label>

		{% for message in get_flashed_messages() %}
    	{{ message }}
		{% endfor %}
	
		<button type="submit" class="btn">Submit</button>
	</fieldset>
	
	</form>
</body>
